.add-to-queue {
  margin-left: 6px;
  background: #ccc;
  padding: 0 10px;
}

.queue-manager-container {
  position: fixed;
  top: 39px;
  right: 7%;
  display: flex;
  flex-direction: column;
  z-index: 9001;
  text-align: left;
}

.queue-manager-toggle {
  display: block;
  width: 50%;
  min-width: 140px;
  align-self: flex-end;
  padding: 8px 15px;
  background: #ddd;
  border-radius: 3px;
}

.queue-manager {
  background: #fff;
  margin-top: 8px;
  box-shadow: 1px 1px 10px #666;
  padding: 5px 10px;
}

.queue-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5px;
}

.queue-item {
  margin-right: 10px;
}

.remove-queue-item {
  padding: 3px 6px;
  background: #ccc;
}

.queue-clear {
  width: 50%;
  min-width: 130px; 
  background: #ff6961;
  padding: 8px;
  margin: 0 auto;
  display: block;
}