.queue-container .next-in-queue {
  border: 1px solid #000;
  padding: 20px;
}

.queue-container .ComicBtn.queue-read-button {
  width: 120px;
}

.queue-read {
  width: 100%;
}

.queue-container.no-next {
  margin-bottom: 15px;
}
